.postHeading {
  font-weight: bold;
  background-color: rgb(244, 244, 179);
  padding: 0;
  margin: 0;
}

.postBody {
  padding: 0;
  margin: 0;
}

#postText {
  width: 80%;
  height: 20rem;
}

.horizontalLine {
  border-bottom: 1px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
}

.postHeading {
  font-weight: bold;
  font-size: 0.8rem;
  text-indent: 5px;
}

#jokerBtn {
  margin: 2px;
}